/* CSS for contents */

.projectContents {
    background-color: white;
    height: 800px;
    width: 960px;
    margin: auto;
    position: relative;
}

#project {
    height: 370px;
    width: 100%;
    border: solid 1px black;
}

#tools {
    height: 200px;
    width: 100%;
    text-align: center;
}

#language {
    height: 176px;
    width: 100%;
    text-align: center;
}

#projects,
#tools,
#language {
    border: solid 1px black;
}